* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

* {
	cursor: default;
}

html,
body {
	overflow: hidden;
}

body {
	background-color: #fff;
}

body > div {
	margin-top: 32px;
}

p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
	cursor: default;
}
